@model IEnumerable<PoetCRM.Models.Doctor>

@{
    ViewData["Title"] = "Doctores";
}

<h1>Listado de Doctores</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                Especialidad del Profesional
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecialidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDoctor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDoctor">Ver detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDoctor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
